
<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <!-- <title>Chris Cart | Home</title> -->

    <!-- Favicon  -->
    <!-- <link rel="icon" href="img/core-img/favicon.ico"> -->

    <!-- Core Style CSS -->
    <!-- <link rel="stylesheet" href="css/core-style.css">
    <link rel="stylesheet" href="style.css"> -->

    <!-- Responsive CSS -->
    <!-- <link href="css/responsive.css" rel="stylesheet"> -->
<!-- 
</head>
<body>
  
<div class="log" >
<section class="vh-100">
  <div class="container-fluid">
    <div class="jus">
    <div class="row justify-content-center">
      <div class="col-sm-6 text-black">
        <div class="formlog">
        <div
          class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5"
        >
          <form style="width: 30rem" action="/verifylogin" method="post" >
            <h3 id="h3id"
              class="fw-normal mb-3 pb-3"
              style="letter-spacing: 1px; margin-left: 12.5vw" 
            >
              Log in
            </h3>

            <div class="form-outline mb-4">
              <input
                type="email"
                name="email"
                class="form-control form-control-lg"
              />
              <label class="form-label">Email address</label>
            </div>

            <div class="form-outline mb-4">
              <input
                type="password"
                name="password"
                class="form-control form-control-lg"
              />
              <label class="form-label">Password</label>
            </div>

            <div class="pt-1 mb-4">
              <button type="submit" class="btn btn-info btn-lg btn-block">
                Login
              </button>
            </div>

            

           

            <p id="paraid">
              Don't have an account?
              <a id="angerid"
                href="/register"
                class="link-info"
                style="text-decoration: none"
                >Register here</a
              >
            </p>
          </form>
        </div>
      </div>
      </div> -->
      <!-- <div class="col-sm-6 px-0 d-none d-sm-block">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img3.webp"
          alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
      </div>   -->
    <!-- </div>
  </div>
  </div>
</section>
</div>
</body>
</html> -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <!-- Title  -->
  <title>Chris Cart | Home</title>

  <!-- Favicon  -->
  <link rel="icon" href="img/core-img/favicon.ico">

  <!-- Core Style CSS -->
  <link rel="stylesheet" href="css/core-style.css">
  <link rel="stylesheet" href="style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

  <script defer src="validation/validation.js"></script>
  <!-- Responsive CSS -->
  <link href="css/responsive.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
  
  <!-- <script type="text/javascript" src="magiczoom/magiczoom.js"></script> -->
  <!-- <script src="validation.js"></script> -->
</head>
<body>

    <!-- <h1 class="reg  text-center mb-1 ">Log In</h1> -->
           
            <!-- <form class="formregister" id="formregister" action="/verifylogin" method="POST">
              <span class="text-danger"><
               
                <div class="input-control mb-1  ">
                    <label class="form-label" for="email">Your Email</label>
                    <input type="text" id="email" name="email"
                        class="form-control form-control-xl" />
                    <small>Error message</small>
                </div>
                

                <div class="input-control mb-1">
                    <label class="form-label" for="password">Password</label>
                    <input type="password" id="password" name="password"
                        class="form-control form-control-xl" />
                    <small>Error message</small>
                </div>
               
                <div class="d-flex justify-content-center m-1">
                    <button class="btn btn-info" type="submit" id="submit">Log In</button>
                  </div>
                  <div class="mt-4 mb-0 text-center pt-1">
                   <h4> <a href="/register" id="signid">Do not have any account?sign Up </a></h4>
                  </div>
            </form>  
      </div>
</section> -->

<form class="formregister" id="formregister" action="/verifylogin" method="post">
 

<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card text-white" style="border-radius: 1rem; background-color: #eb6070; border-color: black;">
          <div class="card-body p-5 text-center">
            <span class="text-danger"><% if(typeof message !== 'undefined'){%>

              <p style="color: rgb(9, 6, 6); font-size: x-large; text-decoration: underline;"><%= message %></p>
              <%}%></span>
            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase" >Shopsy Login </h2>
              <p class="text-white-50 mb-5">Please enter your login and password! to get in to the Site</p>

              <div class=" input-control  form-outline form-white mb-4">
                <input type="email" id="email" name="email" class="form-control form-control-lg" />
                <label class="form-label" style="padding-left: 80px;" for="email">Email</label>
                <small>Error message</small>
              </div>

              <div class="input-control form-outline form-white mb-4">
                <input type="password" id="password" name="password" class="form-control form-control-lg" />
                <label class="form-label" style="padding-left: 80px;" for="password">Password</label>
                <small>Error message</small>
                
              </div>

              <!-- <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p> -->

              <button class="btn btn-outline-light btn-lg px-5" id="submit" type="submit">Login</button>

              <div class="d-flex justify-content-center text-center mt-4 pt-1">
                   </div>

            </div>

            <div>
              <p class="mb-0" style="color: aliceblue;">Don't have an account? Create an Account and Explore In the Site - <a href="/register" class="text-white-50 fw-bold">Sign Up</a>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</form>
<style>
.input-control small{
  visibility: hidden;
}
.input-control.error small{
  color: red;
  visibility: visible;
}


.gradient-custom {
/* fallback for old browsers */
background: #ee0524;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgb(229, 224, 234), rgb(214, 17, 3));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgb(230, 154, 174), #e98285)
}
/* .formregister{
  color: rgb(251, 249, 249);
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,117,121,1) 35%, rgba(0,212,255,1) 100%);
width: 30%;
} */




</style>

<script src="/public/validation/validation.js"></script>
</body>

