<% if(id){ %>
    <%-include('../layouts/userloggedinheader.ejs')  %>
    <% }else{ %>
      <%-include('../layouts/userheader.ejs')  %>
      <% } %> 
<div class="container">
    
<div class="accmain" id="" role="tabpanel" aria-labelledby="tab-account-link">
    <form action="/UserPasswordSetting" method="post" >
        <h4 style="margin-left: 450px; padding-bottom: 40px;text-decoration: underline;font-weight: 900;font-size:xx-large;">Change Password <span></span></h4>
        <a class="btn btn-primary" href="/accountdetails" >Go Back</a> 
    
        <div class="row" style="padding-top: 40px;">
            
        </div><!-- End .row -->

        
        <label>Current password (leave blank to leave unchanged) </label>
        <input type="password" class="form-control" name="password1" required>
        <br>
        <label>New password (leave blank to leave unchanged)</label>
        <input type="password" name="password2" class="form-control" >
        <br>
        <label>Confirm new password</label>
        <input type="password" name="password3" class="form-control mb-2">
        <br>    
        <br>

        <button type="submit" class="btn btn-success">
            <span>SAVE CHANGES</span>
            <i class="ti-arrow-right"></i>
        </button>
    </form>

</div>
</div>
<%-include('../layouts/userfooter.ejs')  %>


